body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9faed;
    margin: 40px;
}

ul {
    border: solid 4px black;
    width: 750px;
}

li {
    padding: 10px;
}

button {
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    border: solid 4px red;
    padding: 10px;
}

.gang {
    width: 750px;
    height: auto;
    border-radius: 50%;
    margin: 40px;
}

.sal {
    color: red;
}

.prutz {
    width: 750px;
    height: auto;
    margin: 20px;
    border-radius: 50%;
}

.byebye {
    width: 750px;
    height: auto;
    margin: 20px;
}