body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #FFFF00;
    background-color: rgb(0,0,255);
}

.header {
    width: 750px;
    height: auto;
    border-radius: 50%;
}

.dish {
    font-weight: 1000;
}
