body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9faed;
}

.adobo {
    width: 750px;
    height: auto;
    border-radius: 50%;
    margin: 40px;
}

.intro {
    margin: 20px;
}

.origins {
    margin: 20px;
}

.prep {
    margin-left: 20px;
}