body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9faed;
    margin: 40px;
}

li {
    padding: 10px;
}

button {
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    border: solid 4px red;
    padding: 10px;
}

.laing {
    width: 750px;
    height: auto;
    margin: 20px auto 20px auto;
    border-radius: 50%;
}

.taro {
    width: 750px;
    height: auto;
    margin: 20px auto 20px auto;
}

.salutation {
    color: red;
}

.byebye {
    width: 750px;
    height: auto;
    margin: 20px auto 20px auto;
}